<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>rorrego.github.com</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
</head>
<body>
  <div id="header">
    <h1>rorrego.github.com</h1>
    <div id="menu">
      <ul id="nav">
        <!--<li><a href="#">About Me</a></li>-->
      </ul>
    </div>
  </div>
  <div id="content">
    <div id="right">
      {{ content }}
    </div>
    <div id="left">
      <div class="box">
        <h2>About :</h2>
        <p>
        <img src='/images/1.jpg' width='50' height='50' style='float: left; margin-right: 5px;' />
          rorrego [at] gmail
        </p>
        <br />
      </div>
      <!--
      <div class="box">
        <h2>Links :</h2>
        <ul>
          <li><a href="http://www.minimalistic-design.info">Web Design Directory</a></li>
          <li><a href="http://www.historyexplorer.net">History Timelines</a></li>
          <li><a href="http://www.minimalistic-design.net">Free templates</a></li>
        </ul>
      </div>
      -->
      <div class="box">
        <div style="font-size: 0.8em;">Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
      </div>
    </div>
  </div>
</body>
</html>